In [1]:
import numpy as np
from astropy.time import Time
import astropy.units as u
from sbpy.data import Orbit, Ephem
import pandas as pd
import pymongo

In [2]:
pmcli = pymongo.MongoClient('mongodb://group4:password@cmp4818.computers.nau.edu:27018/')
db = pmcli['ztf']['snapshot 1']
ssnamenr = db.find({},{'ssnamenr':1, '_id':0})
ssnamenr = list(ssnamenr)
unique_ssnamenr = set()
for s in ssnamenr:
    unique_ssnamenr.add(s['ssnamenr'])
asteroids = pd.DataFrame(unique_ssnamenr)

In [11]:
ztf_mpc_db = pmcli['ztf']['ztf_mpc_temp']
mpc_data = ztf_mpc_db.find({},{'_id':0, 'a':1, 'e':1, 'i':1, 'Peri':1, 'Node':1, 'M':1, 'H':1, 'G':1, 'Epoch':1, 'Number':1})
mpc_df = pd.DataFrame(mpc_data)

In [12]:
mpc_df.Number = mpc_df.Number.str.replace('(','').str.replace(')','')
mpc_df1 = mpc_df['Number'].replace('', np.nan, inplace=True)
mpc_df = mpc_df.dropna()

In [36]:
for i in range(len(mpc_df['Epoch'])):
    mpc_df['Epoch'][i] = mpc_df['Epoch'][i].to_julian_date()
# Ignore the warning that pops up (it's mad that you're rewriting data)

/tmp/sem635/17249258/ipykernel_2395306/978082100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpc_df['Epoch'][i] = mpc_df['Epoch'][i].to_julian_date()
/tmp/sem635/17249258/ipykernel_2395306/978082100.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2460800.5' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  mpc_df['Epoch'][i] = mpc_df['Epoch'][i].to_julian_date()

In [37]:
mpc_df

,H,G,Epoch,M,Peri,Node,i,e,a,Number
0,3.34,0.15,2460800.5,188.70269,73.27343,80.25221,10.58780,0.079401,2.766051,1
1,4.11,0.15,2460800.5,168.79869,310.91037,172.89530,34.92402,0.230540,2.770194,2
2,5.18,0.15,2460800.5,172.45499,247.85972,169.82994,12.98651,0.255947,2.670670,3
3,3.25,0.15,2460800.5,332.45069,151.58334,103.70296,7.14394,0.090107,2.361397,4
4,6.98,0.15,2460800.5,86.24723,359.31775,141.45353,5.35887,0.187441,2.576762,5
...,...,...,...,...,...,...,...,...,...,...
793061,16.94,0.15,2460800.5,287.29924,132.04194,80.70285,13.45364,0.062434,3.361738,793062
793062,17.25,0.15,2460800.5,26.40469,356.24746,130.12003,20.75827,0.140970,3.032526,793063
793063,18.11,0.15,2460800.5,175.01680,301.41984,62.48325,0.60984,0.160723,2.559895,793064
793064,17.78,0.15,2460800.5,249.27769,151.80565,109.63985,5.36011,0.017390,2.761875,793065
793065,17.79,0.15,2460800.5,36.21215,64.92209,68.09402,1.49581,0.144593,3.217960,793066

In [38]:
ztf_nrs = asteroids[0].to_numpy()
mpc_nrs = mpc_df['Number'].to_numpy()
mpc_nrs = [int(x) for x in mpc_nrs]

In [39]:
mpc_df['Number'] = mpc_nrs

In [47]:
mpc_df

,H,G,Epoch,M,Peri,Node,i,e,a,Number
0,3.34,0.15,2460800.5,188.70269,73.27343,80.25221,10.58780,0.079401,2.766051,1
1,4.11,0.15,2460800.5,168.79869,310.91037,172.89530,34.92402,0.230540,2.770194,2
2,5.18,0.15,2460800.5,172.45499,247.85972,169.82994,12.98651,0.255947,2.670670,3
3,3.25,0.15,2460800.5,332.45069,151.58334,103.70296,7.14394,0.090107,2.361397,4
4,6.98,0.15,2460800.5,86.24723,359.31775,141.45353,5.35887,0.187441,2.576762,5
...,...,...,...,...,...,...,...,...,...,...
793061,16.94,0.15,2460800.5,287.29924,132.04194,80.70285,13.45364,0.062434,3.361738,793062
793062,17.25,0.15,2460800.5,26.40469,356.24746,130.12003,20.75827,0.140970,3.032526,793063
793063,18.11,0.15,2460800.5,175.01680,301.41984,62.48325,0.60984,0.160723,2.559895,793064
793064,17.78,0.15,2460800.5,249.27769,151.80565,109.63985,5.36011,0.017390,2.761875,793065
793065,17.79,0.15,2460800.5,36.21215,64.92209,68.09402,1.49581,0.144593,3.217960,793066

In [48]:
mpc_df.to_csv('mpc_df.csv', index=False) ##########################################################

In [15]:
# STOP RUNNING HERE #######################################################

In [49]:
def getOrbitalElements(df, asteroidNameNumber):
    # df is the pandas dataframe already preprocessed
    # d is the dictionary of said dataframe
    d = df.to_dict()
    nr = asteroidNameNumber

    a = d['a'][list(d['Number'].values()).index(nr)]
    e = d['e'][list(d['Number'].values()).index(nr)]
    i = d['i'][list(d['Number'].values()).index(nr)]
    Node = d['Node'][list(d['Number'].values()).index(nr)]
    Peri = d['Peri'][list(d['Number'].values()).index(nr)]
    M = d['M'][list(d['Number'].values()).index(nr)]
    G = d['G'][list(d['Number'].values()).index(nr)]
    H = d['H'][list(d['Number'].values()).index(nr)]
    Epoch = d['Epoch'][list(d['Number'].values()).index(nr)]

    return a, e, i, Node, Peri, M, G, H, Epoch

In [50]:
# Let "name" be the ssnamenr of whatever asteroid you want

name = 1

a, e, i, node, peri, m, g, h, epoch = getOrbitalElements(mpc_df, name)